<div class = "main">
	<div class="downbutton" id="db">

	</div>
  <div class="upbutton" id="ub">

	</div>
	<!-- <div class="indicator">
		<div class="box" id="box0">

		</div>
		<div class=" box " id="box1">

		</div>
		<div class="box" id="box2">

		</div>
		<div class=" box " id="box3">

		</div>
		<div class="box " id="box4">

		</div>
		<div class=" box " id="box5">

		</div>
		<div class="box" id="box6">

		</div>
		<div class=" box " id="box7">

		</div>
		<div class="box " id="box8">

		</div>

	</div> -->
	<div class=" main ">

		<div style="background-image: url('../../assets/images-age/bg0.jpg');" class="page1" id="1 ">
			<div class="objwrapper ">
				<div class="plant1 ">
				</div>
				<div class="plant2 ">
				</div>
				<div class="plant3 ">
				</div>
				<div class="title" style="color:#1F51FF; background-color: rgba(0, 0, 0, 0.5);">
					Inspiring Heros - Heroes for inclusion
				</div>
			</div>
		</div>
		<div class="page p2 " id="2 ">
			<div class="objwrapper ">
				<div class="obj obj1 ">

				</div>
				<div class="img img1 i11 ">

				</div>
				<div class="img img2 i12 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					The Oracle – Paraplegic<br>
The alias of Barbara Gordon, formerly Batgirl, was shot in the spine by the Joker and confined to a wheelchair. After a period of adjustment, she became the Oracle (a computer genius) and directed a female group of operatives called Birds of Prey. She’s very fond of saying, “Don’t let the wheelchair fool you. I can still kick your ass.”
					<div class="botbord "></div>
				</div>
			</div>

		</div>

		<div class="page p3 " id="3 ">
			<div class="objwrapper ">
				<div class="obj obj2 ">

				</div>
				<div class="img img1 i21 ">

				</div>
				<div class="img img2 i22 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					Daredevil – Blindness
As a teenager, Matt Murdock tried to save a blind man from being run over by a truck. Ironically, the truck carries radioactive waste material that ends up blinding Matt. Since radiation is involved, his other senses take over heightened qualities to superhuman levels. So he can “see” through the sense of touch and smell and develops a sort of radar sense to aid him in his superhero tasks.<div class="botbord "></div>
				</div>

			</div>
		</div>

		<div class="page p4 " id="4 ">
			<div class="objwrapper ">
				<div class="obj obj3 ">

				</div>
				<div class="img img1 i31 ">

				</div>
				<div class="img img2 i32 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					Captain Marvel, Jr. – Paraplegic
Not to be confused with the Marvel character of almost the same name, DC created a crippled newsboy character who was transformed by Shazam into a Marvel who could do all sorts of superhero-y things. Everything but walk, that is. With a simple uttering of “Captain Marvel!” he could be transformed from crippled to able and back again.	<div class="botbord "></div>
				</div>
			</div>
		</div>

		<div class="page p5 " id="5 ">
			<div class="objwrapper ">
				<div class="obj obj4 ">

				</div>
				<div class="img img1 i41 ">

				</div>
				<div class="img img2 i42 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					Puck – Dwarfism
This member (Eugene Judd) of the Alpha Fight was not born a dwarf but as a near-giant immortal being. A demon transformed him into a dwarf, who had no superhuman powers but did possess the ability to fight. Puck became a member of the Alpha Flight superhero group and a master of attacking through a series of cartwheels.	<div class="botbord "></div>
				</div>
			</div>
		</div>

		<div class="page p6 " id="6 ">
			<div class="objwrapper ">
				<div class="obj obj5 ">

				</div>
				<div class="img img1 i51 ">

				</div>
				<div class="img img2 i52 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					Nick Fury Jr. – Blind In One Eye
When Mark Johnson gave up his alias and took over for his father, he revealed that he recently lost an eye and must wear an eyepatch at all times. However, he removes the patch (for a security scan) in Captain America 2 and reveals that the eye is still there, but it’s simply useless to him.	<div class="botbord "></div>
				</div>
			</div>
		</div>

		<div class="page p7 " id="7 ">
			<div class="objwrapper ">
				<div class="obj obj6 ">

				</div>
				<div class="img img1 i61 ">

				</div>
				<div class="img img2 i62 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					Thor – Walks With A Cane
In the comic books, Thor is banished to Midgard by Odin to learn some humility. Thor is placed into the body of a disabled medical student named Donald Blake. When Blake becomes a doctor, he hooks up with Jane Foster, but he does change back to his Thor persona by tapping his cane in a cave. The cane transformed into Thor’s hammer.<div class="botbord "></div>
				</div>
			</div>
		</div>

		<div class="page p8 " id="8 ">
			<div class="objwrapper ">
				<div class="obj obj7 ">

				</div>
				<div class="img img1 i71 ">

				</div>
				<div class="img img2 i72 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					Artie Maddicks – Mute
This mutant from the X-Men comics uses his powers to communicate because he is mute (thanks to a natural deformity). he’s able to use his telepathy to mind-lock people and keep them from doing things. The Scarlet Witch stripped Artie of his abilities, but he was able to regain them artificially through a helmet.	<div class="botbord "></div>
				</div>
			</div>
		</div>

		<div class="page p9 ">
			<div class="objwrapper ">
				<div class="obj obj8 ">

				</div>
				<div class="img img1 i81 ">

				</div>
				<div class="img img2 i82 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					The journey isn't over yet...
					<span style="font-size: x-small;"> Source https://www.phactual.com/13-superheroes-with-disabilities/</span>
					<div class="botbord "></div>
				</div>
			</div>
		</div>


	</div>
</div>