	<div class="downbutton" id="db">

	</div>
  <div class="upbutton" id="ub">

	</div>
	<div class="indicator">
		<div class="box" id="box0">

		</div>
		<div class=" box " id="box1">

		</div>
		<div class="box" id="box2">

		</div>
		<div class=" box " id="box3">

		</div>
		<div class="box " id="box4">

		</div>
		<div class=" box " id="box5">

		</div>
		<div class="box" id="box6">

		</div>
		<div class=" box " id="box7">

		</div>
		<div class="box " id="box8">

		</div>

	</div>
	<div class=" main ">

		<div class="page1 " id="1 ">
			<div class="objwrapper ">
				<div class="plant1 ">
				</div>
				<div class="plant2 ">
				</div>
				<div class="plant3 ">
				</div>
				<div class="title ">
					Growth
				</div>
			</div>
		</div>
		<div class="page p2 " id="2 ">
			<div class="objwrapper ">
				<div class="obj obj1 ">

				</div>
				<div class="img img1 i11 ">

				</div>
				<div class="img img2 i12 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					There is a miracle in every new beginning
					<div class="botbord "></div>
				</div>
			</div>

		</div>

		<div class="page p3 " id="3 ">
			<div class="objwrapper ">
				<div class="obj obj2 ">

				</div>
				<div class="img img1 i21 ">

				</div>
				<div class="img img2 i22 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					Childhood is the most beautiful out of all of life's seasons
					<div class="botbord "></div>
				</div>

			</div>
		</div>

		<div class="page p4 " id="4 ">
			<div class="objwrapper ">
				<div class="obj obj3 ">

				</div>
				<div class="img img1 i31 ">

				</div>
				<div class="img img2 i32 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					Youth is the pollen that blows through the sky and does not ask why
					<div class="botbord "></div>
				</div>
			</div>
		</div>

		<div class="page p5 " id="5 ">
			<div class="objwrapper ">
				<div class="obj obj4 ">

				</div>
				<div class="img img1 i41 ">

				</div>
				<div class="img img2 i42 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					Adulthood is not an age but a stage of knowledge of self
					<div class="botbord "></div>
				</div>
			</div>
		</div>

		<div class="page p6 " id="6 ">
			<div class="objwrapper ">
				<div class="obj obj5 ">

				</div>
				<div class="img img1 i51 ">

				</div>
				<div class="img img2 i52 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					Middle age is youth without levity and age without decay
					<div class="botbord "></div>
				</div>
			</div>
		</div>

		<div class="page p7 " id="7 ">
			<div class="objwrapper ">
				<div class="obj obj6 ">

				</div>
				<div class="img img1 i61 ">

				</div>
				<div class="img img2 i62 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					Old age is a record of one's whole life
					<div class="botbord "></div>
				</div>
			</div>
		</div>

		<div class="page p8 " id="8 ">
			<div class="objwrapper ">
				<div class="obj obj7 ">

				</div>
				<div class="img img1 i71 ">

				</div>
				<div class="img img2 i72 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					Wrinkles mean you have laughed, grey hair mean you have cared, scars mean you have lived
					<div class="botbord "></div>
				</div>
			</div>
		</div>

		<div class="page p9 ">
			<div class="objwrapper ">
				<div class="obj obj8 ">

				</div>
				<div class="img img1 i81 ">

				</div>
				<div class="img img2 i82 ">

				</div>
				<div class="msg ">
					<div class="topbord "></div>
					The journey isn't over yet...
					<div class="botbord "></div>
				</div>
			</div>
		</div>


	</div>