<div class="main">
    <div class = "container3d">
        <div>Cartoons Through the ages</div>
        <div class = "scene3d">
            <div class="img" style="background-image: url('../../assets/images-age/2.png');object-fit: cover;box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );" ><div class = "img" style="background-image: url('../../assets/images-age/1.png');"></div><div class = "text">Since 1995 : Shinchan</div></div>
            <div class="img" style="background-image: url('../../assets/images-age/4.png');object-fit: cover;box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );"><div class = "img" style="background-image: url('../../assets/images-age/7.png');"></div><div class = "text">Since 2000 : Spongebob</div></div>
            <div class="img"style="background-image: url('../../assets/images-age/3.png');box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );"><div class = "img" style="background-image: url('../../assets/images-age/8.png');"></div><div class = "text">Since 2005: Avatar : the last airbender</div></div>
            <div class="img"style="background-image: url('../../assets/images-age/5.png');box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );"><div class = "img" style="background-image: url('../../assets/images-age/9.png');"></div><div class = "text">Since 2010 : phineas and ferb</div></div>
            <div class="img" style="background-image: url('../../assets/images-age/6.png');box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); "><div class = "img" style="background-image: url('../../assets/images-age/10.png');"></div><div class = "text">Since 2015 : Rick and morty</div></div>
          
        
            <!-- <div class = "box"></div>
            <div class = "box"></div>
            <div class = "box"></div>
            <div class = "box"></div>
            <div class = "box"></div> -->
        </div>

    </div>
</div>