<div class="main">
    <div class = "container3d">
        <div>Cartoons Through the ages</div>
        <div class = "scene3d">
            <div ><div class = "img"></div><div class = "text">Fill info here</div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <!-- <div class = "box"></div>
            <div class = "box"></div>
            <div class = "box"></div>
            <div class = "box"></div>
            <div class = "box"></div> -->
        </div>

    </div>
</div>